<html>
   <head>
      <link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/googleFonts.css" rel="stylesheet">
      <link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/foundation.css" rel="stylesheet">
      <link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/lifetimes.css" rel="stylesheet">
      <script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/vendor/jquery.js"></script>
      <script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/vendor/modernizr.js"></script>
      <script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/foundation.min.js"></script>
   </head>
   <body>
      <div id="header1">
         <div class="row align-justify align-middle">
            <div class="shrink hide-for-small-only columns">
               <ul>
                  <li><a id="header-home" href="/">Home</a></li>
                  <li><a id="header-healthandwellness" href="/category.page?category=health_and_wellness">Health &amp; Wellness</a></li>
                  <li><a id="header-benefitsandcoverage" href="/category.page?category=benefits_and_coverage">Benefits &amp; Coverage</a></li>
               </ul>
            </div>
            <div id="menu-button" class="small-8 show-for-small-only columns"><img src="https://lifetimes.bcbsil.com/images/lifetimes/drop-down-button.png" alt="" title="Toggle Drop Down Menu"></div>
            <div class="columns medium-text-center language-toggle">
               <a mporgnav="" onclick="return switchLanguage('es'); function switchLanguage(lang) {
                  MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();
                  MP.switchLanguage(MP.UrlLang==lang?'en':lang);
                  return false;
                  } " href="https://espanol-lifetimes.bcbsil.com/">
                  <!-- mp_trans_remove_start --><img src="https://lifetimes.bcbsil.com/images/lifetimes/lt-spanish-button-up.png" width="18px">&nbsp;<!-- mp_trans_remove_end --><span>En Español</span>
               </a>
            </div>
            <div id="drop-down-menu" class="show-for-small-only" style="display: none;">
               <div style="float:left; width:100%;">
                  <ul>
                     <a href="/">
                        <li>Home</li>
                     </a>
                     <a href="/category.page?category=health_and_wellness">
                        <li>Health &amp; Wellness</li>
                     </a>
                     <a href="/category.page?category=benefits_and_coverage">
                        <li>Benefits &amp; Coverage</li>
                     </a>
                  </ul>
               </div>
            </div>
            <div class="columns search-top  hide-for-small-only">
               <div class="search-container">
                  <script type="text/javascript">
                     function get_action(form) {
                     	form.action = "/search.page";
                     }
                  </script>
                  <form class="noEMA" onsubmit="get_action(this);" method="get" action="/lifetimes/articledisplay.page?submit=true&amp;componentID=1469963220093">
                     <input class="search-button" title="Search" src="http://www.bcbsil.com/images/bcbs/redesign/content/header/search-ico.png" alt="Search" type="image">
                     <input class="fsrVisible  search-input" aria-label="Search" value="Search" onfocus="if(this.value=='Search')this.value='';" onblur="if(this.value=='')this.value='Search';" name="keywords" type="text">
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div id="header2" style="background-color:#fff;">
         <div class="row  align-middle" style="">
            <div class="medium-6 small-7 columns medium-text-left small-only-text-center">
               <a href="/"><img class="lt-logo" src="https://lifetimes.bcbsil.com/images/lifetimes/lifetimes-logo.png" alt="" title="Return to Home"></a> 
            </div>
            <div class="medium-6 small-5 columns medium-text-right small-only-text-center">
               <a href="http://www.bcbsil.com" target="_blank"><img class="bcbs-logo" src="https://lifetimes.bcbsil.com/images/lifetimes/bcbsil-logo.png" alt="" title="Visit Blue Cross Blue Shield of Illinois Website"></a>
            </div>
         </div>
         <div class="row">
            <div class="search-dd show-for-small-only" style="float:left; width:100%; padding-bottom:1em; padding-top:0.5em;">
               <div class="search-container">
                  <script type="text/javascript">
                     function get_action(form) {
                     	form.action = "/search.page";
                      }
                          
                  </script>
                  <form class="noEMA" onsubmit="get_action(this);" method="get" action="/lifetimes/articledisplay.page?submit=true&amp;componentID=1469963220093">                                
				     <input class="fsrVisible  search-input" aria-label="Search" value="Search" onfocus="if(this.value=='Search')this.value='';" onblur="if(this.value=='')this.value='Search';" name="keywords" type="text">
                     <input class="search-button" title="Search" src="https://lifetimes.bcbsil.com/images/lifetimes/placeholder.png" alt="Search Button" type="image">
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="ls-row" id="pageBody">
         <div class="ls-row" id="container">
            <div class="breadcrumb columns">
               <span style="padding-left:3px;"><a href="/">Home</a></span><span class="divider"> &gt; </span><a href="/category.page?category=benefits_and_coverage"><span id="bCategory">Benefits &amp; Coverage</span></a><span class="divider"> &gt; </span><span>Take Steps to Protect Your Health Information from Identity Theft </span>
            </div>
            <div class="contentbox">
               <div>
                  <div class="row collapse">
                     <div class="large-12 columns"><img height="350" width="1000" class="bannerImage" src="https://lifetimes.bcbsil.com/images/lifetimes/2018/03_mar/banner_steps_to_protect_id_theft.jpg"></div>
                  </div>
                  <div class="row">
                     <div class="large-8 medium-7 small-12 columns">
                        <div class="main">
                           <h2>Your wallet is missing. Your purse is lost. After the panic and frantic searching, you’ve faced the fact that it’s really gone. Your first thought may be about your bank or credit card accounts. But protecting your health plan account is equally vital.</h2>
                           <h3>Safeguarding Your Medical Identity Is Key</h3>
                           <p>Once thieves have your private data, they can clear your bank account, run up your credit card bills and use your health plan to get treatment. If the thief's health information is mixed with yours, it may affect your treatment, insurance and payment records, and credit report.</p>
                           <p>It’s important to call your health plan if someone steals your card. But even if your card isn’t stolen, it’s important to watch your plan information.</p>
                           <p class="list">You should call your health plan right away if you notice any of these signs:</p>
                           <ul type="disc">
                              <li><span>You receive a doctor’s bill for care you didn’t receive.</span></li>
                              <li><span>Your plan rejects your medical claim because records show you’ve reached your benefits limit.</span></li>
                              <li><span>Your plan won’t cover you because your records show a health problem you don’t have.</span></li>
                           </ul>
                           <p>If you see these signs, you could be the victim of medical identity theft. According to the Medical Identity Fraud Alliance, over 1.8 million Americans were victims in 2013, up 19 percent from 2012. In 2014, there were almost 500,000 more victims than in 2013.</p>
                           <p>There are many ways for thieves to gain access to your information. A worker at a health care office could sell your data. Or a friend or family member may use your information, the alliance said. The group offers <a target="_blank" href="http://medidfraud.org/wp-content/uploads/2016/02/Combatting-Med-ID-Fraud-Tips.pdf">safety tips for consumers</a>.</p>
                           <p>If you get explanation of benefits (EOB) statements, it’s important to look them over carefully. If you notice something unusual on your statement, call the number provided on the EOB.</p>
                           <p>You should also treat medical bills, prescription drug labels and health plan records as you would treat other important information. Store them in a safe place and shred anything you throw away.</p>
                           <p>Today, more and more private health information makes its way on to the internet. So remember to safeguard your date of birth, Social Security number and other data. Share your private medical information only with your health care providers.</p>
                           <h3>Stay Safe</h3>
                           <p class="list">Identity thieves use many tricks to obtain your medical and health insurance information. Try these strategies for keeping your info safe:</p>
                           <ul type="disc">
                              <li><span>Be careful online. Look for the lock icon on your internet browser’s status bar. </span></li>
                              <li><span>Guard your member ID card and member ID number. Don’t give it to anyone who offers a free health test or product.</span></li>
                              <li><span>You should only share information by phone or email with someone if you contacted them first. If you’re reached by phone, return the call to make sure the person works for your health plan or doctor’s office. If you receive an email, call the office.</span></li>
                              <li><span>Keep all your records in a safe place. </span></li>
                           </ul>
                           <p>Get <a target="_blank" href="https://www.bcbsil.com/company-info/who-we-are/fraud-checklist">our fighting fraud checklist</a> for more tips on staying safe from medical identity fraud.</p>
                           <p style="font-weight:bold; color: #8B4E9E; margin:20px 0px 0px 0px; font-size:15px; line-height:20px;"><img align="left" height="75" width="75" style="padding-right:10px; padding-bottom:15px;" alt="icon_help_desk" src="http://www.csdesignpro.com/lifetimes/2018/03_mar/icon_help_desk.png">Use the fraud hotline.</p>
                           <p>If you suspect fraud, don’t hesitate to call the Blue Cross and Blue Shield of Illinois fraud hotline at <b>800-543-0867.</b> Find out more about fraud prevention and reporting on our <a target="_blank" href="https://www.bcbsil.com/company-info/who-we-are/fraud-prevention">website</a>. If you see signs of medical identity theft, you can also visit the FTC’s tracking site, <a target="_blank" href="https://www.identitytheft.gov/">IdentityTheft.gov</a>, to report it.</p>
                        </div>
                     </div>
                     <div class="large-4 medium-5 small-12 columns">
                        <div class="sidebar">
                           <h3>Is your digital information safe?</h3>
                           <p>If each data breach announcement makes you a little more fearful, you can take steps to protect your important personal information.</p>
                           <p>Thieves can find your valuable information through many channels. They can hack your computer. Or they can gain access to that little super computer in your hand, your smart phone.</p>
                           <p>Either way, it’s a good idea to keep security in mind. On the mobile phone or device front, you should pay close attention to the apps you’ve downloaded from your bank, credit card company or health plan.</p>
                           <p class="list">Follow these mobile app safety rules to help keep safe.</p>
                           <ul type="disc">
                              <li><span>Watch out for Wi-Fi hotspots. Many of them, like those in an airport or coffee shop, don’t encrypt the information you send over the internet. </span></li>
                              <li><span>Make sure your home wireless network is secure.</span></li>
                              <li><span>Monitor the data that your apps access.</span></li>
                              <li><span>Remember that an app can share any information it collects. </span></li>
                              <li><span>Check your device’s privacy settings.</span></li>
                              <li><span>Update your apps when new versions are available. These updates often have security patches that protect your information and device. </span></li>
                              <li><span>If you think your phone has been hacked, contact the manufacturer or your mobile phone carrier.</span></li>
                           </ul>
                           <h3>Take steps to protect your medical information.</h3>
                           <p>The Federal Trade Commission offers more information about detecting medical identity theft. Watch the video to catch the highlights.</p>
                           <iframe frameborder="0" style="width: 250px; height: auto;" src="https://players.brightcove.net/1087587715001/Vy0NWmo9x_default/index.html?videoId=1807437467001"></iframe>
                        </div>
                     </div>
                     <div class="columns small-12">
                        <p class="legal">Sources: <a target="_blank" href="https://www.consumer.ftc.gov/articles/0018-understanding-mobile-apps">Understanding Mobile Apps</a>, Federal Trade Commission, 2017; <a target="_blank" href="https://www.cms.gov/outreach-and-education/outreach/partnerships/fraudpreventiontoolkit.html">Fraud Prevention Toolkit</a>, Centers for Medicare and Medicaid Services, 2017; <a target="_blank" href="http://medidfraud.org/2014-fifth-annual-study-on-medical-identity-theft/">Fifth Annual Study on Medical Identity Theft</a>, Medical Identity Fraud Alliance, 2015; <a target="_blank" href="https://www.consumer.ftc.gov/articles/0271-warning-signs-identity-theft">Warning Signs of Identity Theft</a>, Federal Trade Commission, 2015</p>
                     </div>
                  </div>
               </div>
               <div style="background: rgb(255, 255, 255);" class="row">
                  <div style="padding-top:1em; padding-bottom:2em;" class="large-12 columns">
                     <div class="row">
                        <div class="large-8 medium-12 small-12 columns end">
                           <div class="row align-justify">
                              <div style="display:inline-block; padding-top:0; padding-bottom:1em; font-weight:bold;" class="shrink columns align-self-middle">
                                 <a href="/category.page?category=benefits_and_coverage">
                                 « View all&nbsp;<span style="text-transform: capitalize;" id="back_category">benefits &amp; coverage</span>&nbsp;articles</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <script type="text/javascript">
               function foo(str) {
               	return $(str.split(/\s|_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" ");
               }
               
               function cRepl(str) {
               	if (str.indexOf("_and_") !== -1) {
               		return $(str.split(/_and_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" & ");
               	} else if (str.indexOf("_and_") !== -1) {
               		return $(str.split(/_and_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" & ");
               	} else if (str.indexOf("_") !== -1) {
               		return $(str.split(/\s|_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" ");	
               	} else {
               		return $(str.split(/\s|_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" ");	
               	}
               }
               $('#bCategory').text( cRepl( $('#bCategory').text() ) );
               $('#bsCategory').text( cRepl( $('#bsCategory').text() ) );
               $('#bsCategory').text( foo( $('#bsCategory').text() ) );
            </script>
         </div>
      </div>
      <div id="pageFooter" class="fullWidth_row">
         <div class="footer">
            <div class="row align-center" style="background-color:transparent; padding-bottom:0;">
               <div class="footer-social small-12 columns">
                  <!-- ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://www.facebook.com/bluecrossblueshieldofillinois">
                  <img alt="Blue Cross Blue Shield on Facebook" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-facebook.png">
                  </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://twitter.com/bcbsil">
                  <img alt="Blue Cross Blue Shield on Twitter" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-twitter.png">
                  </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://www.youtube.com/bcbsil">
                  <img alt="Blue Cross Blue Shield on YouTube" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-youtube.png">
                  </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="https://plus.google.com/+bcbsil">
                  <img alt="Blue Cross Blue Shield on Google+" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-gplus.png">
                  </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="https://connect.bcbsil.com/">
                  <img alt="Connect with Blue Cross Blue Shield" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-connect.png">
                  </a><!-- end ngRepeat: socialLink in controller.state.socialLinks -->
               </div>
               <div class="footer-content small-12 columns text-center">
                  <p class="legal"><a href="http://www.bcbsil.com/important-info" target="_blank">IMPORTANT INFORMATION</a><a></a></p>
                  <a>
                     <p class="legal">
                        A Division of Health Care Service Corporation, a Mutual Legal Reserve Company, an Independent Licensee of the 
                        <nw>Blue Cross and Blue Shield Association.</nw>
                        <br>© Copyright <span id="year">2018</span><script>$('#year').html(new Date().getFullYear())</script> Health Care Service Corporation. All Rights Reserved.
                     </p>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <script src="https://lifetimes.bcbsil.com/js/lifetimes/foundation.js" type="text/javascript"></script>
      <script src="https://lifetimes.bcbsil.com/js/lifetimes/lt-custom.js" type="text/javascript"></script>
      <script>
         $(document).foundation();
      </script>
   </body>
</html>