<html>
<head>
<link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/googleFonts.css" rel="stylesheet">
<link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/foundation.css" rel="stylesheet">
<link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/lifetimes.css" rel="stylesheet">
<script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/vendor/jquery.js"></script>
<script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/vendor/modernizr.js"></script>
<script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/foundation.min.js"></script>
</head>
<body>

<div id="pageFooter" class="fullWidth_row">
	<div class="footer">
            <div class="row align-center" style="background-color:transparent; padding-bottom:0;">
                <div class="footer-social small-12 columns">
                    <!-- ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://www.facebook.com/bluecrossblueshieldofillinois">
                        <img alt="Blue Cross Blue Shield on Facebook" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-facebook.png">
                    </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://twitter.com/bcbsil">
                        <img alt="Blue Cross Blue Shield on Twitter" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-twitter.png">
                    </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://www.youtube.com/bcbsil">
                        <img alt="Blue Cross Blue Shield on YouTube" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-youtube.png">
                    </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="https://plus.google.com/+bcbsil">
                        <img alt="Blue Cross Blue Shield on Google+" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-gplus.png">
                    </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="https://connect.bcbsil.com/">
                        <img alt="Connect with Blue Cross Blue Shield" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-connect.png">
                    </a><!-- end ngRepeat: socialLink in controller.state.socialLinks -->
                </div>
                <div class="footer-content small-12 columns text-center">
					<p class="legal"><a href="http://www.bcbsil.com/important-info" target="_blank">IMPORTANT INFORMATION</a><a></a></p>
					<a>
                    <p class="legal">
                        A Division of Health Care Service Corporation, a Mutual Legal Reserve Company, an Independent Licensee of the <nw>Blue Cross and Blue Shield Association.</nw> <br>© Copyright <span id="year">2018</span><script>$('#year').html(new Date().getFullYear())</script> Health Care Service Corporation. All Rights Reserved.
                    </p>
                   </a>
				</div>
			</div>
	</div>
</div>
<script src="https://lifetimes.bcbsil.com/js/lifetimes/foundation.js" type="text/javascript"></script>
<script src="https://lifetimes.bcbsil.com/js/lifetimes/lt-custom.js" type="text/javascript"></script>
<script>
		$(document).foundation();

	</script>

</body>
</html>