<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="no-js lt-ie9">
   <![endif]--><!--[if IE]><![if (gt IE 8)|!(IE)]><![endif]-->
   <html class="no-js" lang="en">
      <!--[if IE]><![endif]><![endif]-->
      <head>
         <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <meta content="width=device-width" name="viewport">
         <title>BCBSIL Volunteers Build Wheelchairs for Disabled Veterans | LifeTimes | Blue Cross and Blue Shield of Illinois</title>
         <meta content="edge" http-equiv="X-UA-Compatible">
         <meta charset="UTF-8">
         <!--ls:begin[stylesheet]--><!--ls:end[stylesheet]--><!--ls:begin[meta-keywords]-->
         <meta name="keywords" content="">
         <!--ls:end[meta-keywords]--><!--ls:begin[meta-description]-->
         <meta name="description" content="">
         <!--ls:end[meta-description]--><!--ls:begin[meta-vpath]-->
         <meta name="vpath" content="">
         <!--ls:end[meta-vpath]--><!--ls:begin[meta-page-locale-name]-->
         <meta name="page-locale-name" content="">
         <!--ls:end[meta-page-locale-name]--><!--ls:begin[stylesheet]-->
         <link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/googleFonts.css" rel="stylesheet">
         <!--ls:end[stylesheet]--><!--ls:begin[stylesheet]-->
         <link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/foundation.css" rel="stylesheet">
         <!--ls:end[stylesheet]--><!--ls:begin[stylesheet]-->
         <link type="text/css" href="https://lifetimes.bcbsil.com/css/lifetimes/lifetimes.css" rel="stylesheet">
         <!--ls:end[stylesheet]--><!--ls:begin[script]--><script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/vendor/jquery.js"></script><!--ls:end[script]--><!--ls:begin[script]-->
		 <script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/vendor/modernizr.js"></script><!--ls:end[script]--><!--ls:begin[script]--><script type="text/javascript" src="https://lifetimes.bcbsil.com/js/lifetimes/foundation.min.js"></script><!--ls:end[script]--><!--ls:begin[head-injection]-->
         <meta name="robots" content="index, nofollow">
         <meta name="subcategory" content="general_health"/>
         <meta name="category" content="health_and_wellness"/>
         <meta name="state" content="il"/>
         <meta name="contentpath" content="templatedata/lifetimes/article/data/health_and_wellness/general_health/il/wheelchair"/>
         <meta property="og:type" content="article" />
         <meta property="og:title" content="BCBSIL Volunteers Build Wheelchairs for Disabled Veterans" />
         <meta property="og:description" content="Earlier this year, Blue Cross and Blue Shield of Illinois employee volunteers built 30 wheelchairs and gave them to the Hines Veterans Administration Hospital to help disabled vets get around the 147-acre campus. Learn more." />
         <meta property="og:image" content="http://lifetimes.bcbsil.com/images/lifetimes/2016/10_oct/teaser_wheelchair.jpg" />
         <!--ls:end[head-injection]--><!--ls:begin[script]--><!--ls:end[script]-->
		 <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<style>

			  #iframe {
			  width: 100%;
			  height: 100%;
			  border: none;    

			  background: #eee ;


			  z-index: 1;
			}

			#resizable {
			  width: 250px;
			  height: 141px;
			  background: #fff;
			  border: 1px solid #ccc;


			  z-index: 9;
			}
		</style>
		 <script>
		  $(function() {
			$('#resizable').resizable({
			  start: function(event, ui) {
				$('iframe').css('pointer-events','none');
				 },
			stop: function(event, ui) {
				$('iframe').css('pointer-events','auto');
			  }
		  });
		  });
		  </script>
      </head>
      <body id="" class="">
         <!--ls:begin[body]-->
         <div class="ls-canvas" id="ls-canvas">
            <div class="ls-row no-overflow" id="ls-row-1">
               <div class="ls-fxr" id="ls-gen58817309-ls-fxr">
                  <div class="ls-col" id="ls-row-1-col-1">
                     <div class="ls-col-body" id="ls-gen58817310-ls-col-body">
                        <div class="ls-row" id="main">
                           <div class="ls-fxr" id="ls-gen58817311-ls-fxr">
                              <div class="ls-col" id="ls-row-1-col-1-row-1-col-1">
                                 <div class="ls-col-body" id="ls-gen58817312-ls-col-body">
                                    <div class="ls-row fullWidth_row" id="pageHeader">
                                       <div class="ls-fxr" id="ls-gen58817313-ls-fxr">
                                          <div class="ls-col" id="ls-row-1-col-1-row-1-col-1-row-1-col-1">
                                             <div class="ls-col-body" id="ls-gen58817314-ls-col-body">
                                                <div class="ls-row" id="ls-row-1-col-1-row-1-col-1-row-1-col-1-row-1">
                                                   <div class="ls-fxr" id="ls-gen58817315-ls-fxr">
                                                      <div class="ls-area" id="ls-row-1-col-1-row-1-col-1-row-1-col-1-row-1-area-1">
                                                         <div class="ls-area-body" id="ls-gen58817316-ls-area-body">
                                                            <div class="ls-cmp-wrap ls-1st" id="w1469963220093">
                                                               <div class="iw_component" id="1469963220093">
                                                                  <div>
                                                                     <div id="header1">
                                                                        <div class="row align-justify align-middle">
                                                                           <div class="shrink hide-for-small-only columns">
                                                                              <ul>
                                                                                 <li><a id="header-home" href="/">Home</a></li>
                                                                                 <li><a id="header-healthandwellness" href="/category.page?category=health_and_wellness">Health &amp; Wellness</a></li>
                                                                                 <li><a id="header-benefitsandcoverage" href="/category.page?category=benefits_and_coverage">Benefits &amp; Coverage</a></li>
                                                                              </ul>
                                                                           </div>
                                                                           <div id="menu-button" class="small-8 show-for-small-only columns"><img src="https://lifetimes.bcbsil.com/images/lifetimes/drop-down-button.png" alt="" title="Toggle Drop Down Menu"></div>
                                                                           <div class="columns medium-text-center language-toggle">
                                                                              <a mporgnav="" onclick="return switchLanguage('es'); function switchLanguage(lang) {
                                                                                 MP.SrcUrl=unescape('mp_js_orgin_url');MP.UrlLang='mp_js_current_lang';MP.init();
                                                                                 MP.switchLanguage(MP.UrlLang==lang?'en':lang);
                                                                                 return false;
                                                                                 } " href="https://espanol-lifetimes.bcbsil.com/">
                                                                                 <!-- mp_trans_remove_start --><img src="https://lifetimes.bcbsil.com/images/lifetimes/lt-spanish-button-up.png" width="18px">&nbsp;<!-- mp_trans_remove_end --><span>En Espa&ntilde;ol</span>
                                                                              </a>
                                                                           </div>
                                                                           <div id="drop-down-menu" class="show-for-small-only">
                                                                              <div style="float:left; width:100%;">
                                                                                 <ul>
                                                                                    <a href="/">
                                                                                       <li>Home</li>
                                                                                    </a>
                                                                                    <a href="/category.page?category=health_and_wellness">
                                                                                       <li>Health &amp; Wellness</li>
                                                                                    </a>
                                                                                    <a href="/category.page?category=benefits_and_coverage">
                                                                                       <li>Benefits &amp; Coverage</li>
                                                                                    </a>
                                                                                 </ul>
                                                                              </div>
                                                                           </div>
                                                                           <div class="columns search-top  hide-for-small-only">
                                                                              <div class="search-container">
                                                                                 <script type="text/javascript">
                                                                                    function get_action(form) {
                                                                                    	form.action = "/search.page";
                                                                                    }
                                                                                 </script>
                                                                                 <form class="noEMA" onsubmit="get_action(this);" method="get" action="/lifetimes/articledisplay.page?submit=true&componentID=1469963220093">
                                                                                    <input class="search-button" title="Search" src="http://www.bcbsil.com/images/bcbs/redesign/content/header/search-ico.png" alt="Search" type="image">
                                                                                    <input class="fsrVisible  search-input" aria-label="Search" value="Search" onfocus="if(this.value=='Search')this.value='';" onblur="if(this.value=='')this.value='Search';" name="keywords" type="text">
                                                                                 </form>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                     <div id="header2" style="background-color:#fff;">
                                                                        <div class="row  align-middle" style="">
                                                                           <div class="medium-6 small-7 columns medium-text-left small-only-text-center">
                                                                              <a href="/"><img class="lt-logo" src="https://lifetimes.bcbsil.com/images/lifetimes/lifetimes-logo.png" alt="" title="Return to Home"/></a> 
                                                                           </div>
                                                                           <div class="medium-6 small-5 columns medium-text-right small-only-text-center">
                                                                              <a href="http://www.bcbsil.com"  target="_blank"><img class="bcbs-logo" src="https://lifetimes.bcbsil.com/images/lifetimes/bcbsil-logo.png" alt="" title="Visit Blue Cross Blue Shield of Illinois Website"/></a>
                                                                           </div>
                                                                        </div>
                                                                        <div class="row">
                                                                           <div class="search-dd show-for-small-only"  style="float:left; width:100%; padding-bottom:1em; padding-top:0.5em;">
                                                                              <div class="search-container">
                                                                                 <script type="text/javascript">
                                                                                    function get_action(form) {
                                                                                    	form.action = "/search.page";
                                                                                     }
                                                                                         
                                                                                 </script>
                                                                                 <form class="noEMA" onsubmit="get_action(this);" method="get" action="/lifetimes/articledisplay.page?submit=true&componentID=1469963220093">                                <input class="fsrVisible  search-input" aria-label="Search" value="Search" onfocus="if(this.value=='Search')this.value='';" onblur="if(this.value=='')this.value='Search';" name="keywords" type="text">
                                                                                    <input class="search-button" title="Search" src="https://lifetimes.bcbsil.com/images/lifetimes/placeholder.png" alt="Search Button" type="image">
                                                                                 </form>
                                                                              </div>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                               </div>
                                                            </div>
                                                            <div class="ls-cmp-wrap" id="w1469963220094">
                                                               <div class="iw_component" id="1469963220094">
                                                                  <div></div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="ls-row-clr"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="ls-row-clr"></div>
                                       </div>
                                    </div>
                                    <div class="ls-row" id="pageBody">
                                       <div class="ls-fxr" id="ls-gen58817317-ls-fxr">
                                          <div class="ls-col" id="ls-row-1-col-1-row-1-col-1-row-2-col-1">
                                             <div class="ls-col-body" id="ls-gen58817318-ls-col-body">
                                                <div class="ls-row" id="container">
                                                   <div class="ls-fxr" id="ls-gen58817319-ls-fxr">
                                                      <div class="ls-col" id="ls-row-1-col-1-row-1-col-1-row-2-col-1-row-1-col-1">
                                                         <div class="ls-col-body" id="ls-gen58817320-ls-col-body">
                                                            <div class="ls-row" id="ls-row-1-col-1-row-1-col-1-row-2-col-1-row-1-col-1-row-1">
                                                               <div class="ls-fxr" id="ls-gen58817321-ls-fxr">
                                                                  <div class="ls-area" id="ls-row-1-col-1-row-1-col-1-row-2-col-1-row-1-col-1-row-1-area-1">
                                                                     <div class="ls-area-body" id="ls-gen58817322-ls-area-body">
                                                                        <div class="ls-cmp-wrap ls-1st" id="w1469963220095">
                                                                           <div class="iw_component" id="1469963220095">
                                                                              <div class="breadcrumb columns">
                                                                                 <span style="padding-left:3px;"><a href="/">Home</a></span><span class="divider"> &gt; </span><a href="/category.page?category=health_and_wellness"><span id="bCategory">health_and_wellness</span></a><span class="divider"> &gt; </span><a href="/subcategory.page?subcategory=general_health"><span id="bsCategory">general_health</span></a><span class="divider"> &gt; </span><span>BCBSIL Volunteers Build Wheelchairs for Disabled Veterans</span>
                                                                              </div>
                                                                              <div class="contentbox">
                                                                                 <div>
                                                                                    <!--      --> <!--ARTICLE START--> <!--      --->
                                                                                    <div class="row collapse">
                                                                                       <div class="large-12 columns"><img height="350" width="1000" src="https://lifetimes.bcbsil.com/images/lifetimes/2016/10_oct/banner_wheelchair.jpg" class="bannerImage" /></div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                       <div class="large-8 medium-7 small-12 columns">
                                                                                          <!--        ---> <!--DROP MAIN IN HERE--> <!--        --->
                                                                                          <div class="main">
                                                                                             <h2>Last summer, 150 Blue Cross and Blue Shield of Illinois (BCBSIL) employee volunteers built 30 wheelchairs and gave them to the Edward Hines, Jr., Veterans Administration Hospital west of Chicago.</h2>
                                                                                             <p>The wheelchairs will have a big impact.</p>
                                                                                             <p>Dan Bracker heads the Hines VA Hospital escort team of 31 employees and volunteers. They move hundreds of veterans every day in wheelchairs across the 147-acre Hines campus. Bracker is a 20-year Army sergeant first class veteran who &ldquo;wanted to do something really meaningful when I retired from the military. That&rsquo;s why I work at Hines.</p>
                                                                                             <p>&ldquo;We have 200 wheelchairs now. So these 30 more will make a big difference,&rdquo; Bracker said. &ldquo;We can lower or even avoid time our vets now spend waiting for chairs to free up so we can get them where they need to go.&rdquo;</p>
                                                                                             <p>Veterans live in the communities that BCBSIL serves, and many of its own employees are veterans. So events like this are very meaningful to our employees. They provide an opportunity to show appreciation for the service and sacrifice veterans have given.</p>
                                                                                             <div class="editorialWrapper"><img align="left" height="auto" width="350" src="https://lifetimes.bcbsil.com/images/lifetimes/2016/10_oct/wheelchairs_for_vets_2.jpg" /></div>
                                                                                             <h3>Wheelchair Gift Thrilling</h3>
                                                                                             <p>Mitra Gobin is chief of voluntary services for Hines. Gobin oversees donations, cash gifts and the volunteers who donate their time doing things like maintaining the hospital grounds.</p>
                                                                                             <p>He was at Chicago BCBSIL headquarters on June 28 when the wheelchairs were built. He offered thanks there and later spoke at the hospital when the chairs were dropped off.</p>
                                                                                             <p>&ldquo;We&rsquo;re always thrilled when we get tangible donations,&rdquo; Gobin said. &ldquo;When I told colleagues at Hines I was going to BCBSIL to say a few words of thanks, everybody in my office applauded.&rdquo;</p>
                                                                                             <p>Mike Dolan drove the truck to deliver the wheelchairs. He got caught up in the moment. &ldquo;My dad, Robert, was in the Navy Reserves. As a veteran, he would have been proud of what&rsquo;s happening today,&rdquo; he said, as his eyes welled up with tears.</p>
                                                                                             <h3>BCBSIL Marine Veteran Helps</h3>
                                                                                             <p>James Keathley was among the 150 volunteers who assembled the wheelchairs, helped load them on the delivery truck and then hopped onto the truck to unload them at the Hines VA Hospital.</p>
                                                                                             <p>Keathley is BCBSIL&rsquo;s senior supervisor of protection and security and a Marine Corps veteran.</p>
                                                                                             <p>&ldquo;I&rsquo;m very proud we have this opportunity to be involved in an event supporting veterans&rsquo; needs,&rdquo; Keathley said. &ldquo;Delivering these chairs as a veteran and as an employee of the company just makes me feel good because I know this is a good thing for veterans here at Hines VA Hospital. It&rsquo;s something we&rsquo;re giving back to the veterans.&rdquo;</p>
                                                                                             <p>Our company&rsquo;s Supporters of Military Veterans leadership group and human resources vice president Ron Balsewich arranged the event. Balsewich also runs the In-Abled group at Blue Cross and Blue Shield.</p>
                                                                                             <p>The Blue Cross and Blue Shield veterans group is committed to reaching out in practical ways. For example, the Fisher House at Hines gets help from BCBSIL. Fisher House is a free home away from home for patients&rsquo; families, caregivers and loved ones. Its motto is &ldquo;Because a Family&rsquo;s Love Is Good Medicine.&rdquo;</p>
                                                                                             <p>Blue Cross and Blue Shield is also committed to all people working at our company with physical and other challenges. Such challenges must not get in the way of vital daily contributions they make. Blue Cross and Blue Shield cares not only for those who protect America, but also for those working here.</p>
                                                                                          </div>
                                                                                          <!--      ---> <!--End MAIN HERE--> <!--      --->
                                                                                       </div>
                                                                                       <div class="large-4 medium-5 small-12 columns">
                                                                                          <!--         --> <!--Start Sidebar HERE--> <!--         -->
                                                                                          <div class="sidebar">
                                                                                             <h3>Volunteers share what being part of this effort means to them.</h3>
                                                                                             <br /> 
																							 <div id="resizable">
																								 <iframe id="iframe" frameborder="0" src="https://www.youtube.com/embed/z5sSuN63L5I?rel=0&amp;showinfo=0">
																								 </iframe>
																							 </div>
                                                                                             <div class="editorialWrapperside"><img align="left" height="auto" width="250" src="https://lifetimes.bcbsil.com/images/lifetimes/2016/10_oct/wheelchairs_for_vets_1.jpg" style="padding-top:15px; padding-bottom:15px;" /></div>
                                                                                             <!--        --> <!--End Sidebar HERE--> <!--        -->
                                                                                          </div>
                                                                                       </div>
                                                                                       <!--      ---> <!--ARTICLE END--> <!--      --->
                                                                                    </div>
                                                                                 </div>
                                                                                 <div style="background: rgb(255, 255, 255);" class="row">
                                                                                    <div style="padding-top:1em; padding-bottom:2em;" class="large-12 columns">
                                                                                       <div class="row">
                                                                                          <div class="large-8 medium-12 small-12 columns end">
                                                                                             <div class="row align-justify">
                                                                                                <div style="display:inline-block; padding-top:0; padding-bottom:1em; font-weight:bold;" class="shrink columns align-self-middle">
                                                                                                   <a href="/category.page?category=health_and_wellness">
                                                                                                   &laquo; View all&nbsp;<span style="text-transform: capitalize;" id="back_category">health &amp; wellness</span>&nbsp;articles</a>
                                                                                                </div>
                                                                                                <div id="fb-root"></div>
                                                                                                <div style="display:inline-block; padding-top:0;" class="shrink columns align-self-middle">
                                                                                                   <div data-mobile-iframe="false" data-layout="button" data-href="" style="display:inline-block;" class="fb-share-button">
                                                                                                      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" target="_blank" class="fb-xfbml-parse-ignore">Share</a>
                                                                                                   </div>
                                                                                                   <a target="_blank" data-show-count="false" class="twitter-share-button" style="display:inline-block;" href="https://twitter.com/share">
                                                                                                   Tweet
                                                                                                   </a>
                                                                                                </div>
                                                                                                <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
                                                                                                <style type="text/css">.fb-share-button span{vertical-align:0px !important;}</style>
                                                                                             </div>
                                                                                          </div>
                                                                                       </div>
                                                                                    </div>
                                                                                 </div>
                                                                              </div>
                                                                              <script type="text/javascript">
                                                                                 function foo(str) {
                                                                                 	return $(str.split(/\s|_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" ");
                                                                                 }
                                                                                 
                                                                                 function cRepl(str) {
                                                                                 	if (str.indexOf("_and_") !== -1) {
                                                                                 		return $(str.split(/_and_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" & ");
                                                                                 	} else if (str.indexOf("_and_") !== -1) {
                                                                                 		return $(str.split(/_and_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" & ");
                                                                                 	} else if (str.indexOf("_") !== -1) {
                                                                                 		return $(str.split(/\s|_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" ");	
                                                                                 	} else {
                                                                                 		return $(str.split(/\s|_/)).map(function() { return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase(); }).get().join(" ");	
                                                                                 	}
                                                                                 }
                                                                                 $('#bCategory').text( cRepl( $('#bCategory').text() ) );
                                                                                 $('#bsCategory').text( cRepl( $('#bsCategory').text() ) );
                                                                                 $('#bsCategory').text( foo( $('#bsCategory').text() ) );
                                                                              </script>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                  </div>
                                                                  <div class="ls-row-clr"></div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="ls-row-clr"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="ls-row-clr"></div>
                                       </div>
                                    </div>
                                    <div class="ls-row fullWidth_row" id="pageFooter">
                                       <div class="ls-fxr" id="ls-gen58817323-ls-fxr">
                                          <div class="ls-col" id="ls-row-1-col-1-row-1-col-1-row-3-col-1">
                                             <div class="ls-col-body" id="ls-gen58817324-ls-col-body">
                                                <div class="ls-row" id="ls-row-1-col-1-row-1-col-1-row-3-col-1-row-1">
                                                   <div class="ls-fxr" id="ls-gen58817325-ls-fxr">
                                                      <div class="ls-area" id="ls-row-1-col-1-row-1-col-1-row-3-col-1-row-1-area-1">
                                                         <div class="ls-area-body" id="ls-gen58817326-ls-area-body">
                                                            <div class="ls-cmp-wrap ls-1st" id="w1469963220096">
                                                               <div class="iw_component" id="1469963220096">
                                                                  <div>
                                                                     <div class="footer">
                                                                        <div class="row align-center" style="background-color:transparent; padding-bottom:0;">
                                                                           <div class="footer-social small-12 columns">
                                                                              <!-- ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://www.facebook.com/bluecrossblueshieldofillinois">
                                                                              <img alt="Blue Cross Blue Shield on Facebook" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-facebook.png">
                                                                              </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://twitter.com/bcbsil">
                                                                              <img alt="Blue Cross Blue Shield on Twitter" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-twitter.png">
                                                                              </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="http://www.youtube.com/bcbsil">
                                                                              <img alt="Blue Cross Blue Shield on YouTube" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-youtube.png">
                                                                              </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="https://plus.google.com/+bcbsil">
                                                                              <img alt="Blue Cross Blue Shield on Google+" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-gplus.png">
                                                                              </a><!-- end ngRepeat: socialLink in controller.state.socialLinks --><a class="ng-scope" target="_blank" ng-repeat="socialLink in controller.state.socialLinks" ng-show="true" href="https://connect.bcbsil.com/">
                                                                              <img alt="Connect with Blue Cross Blue Shield" src="https://lifetimes.bcbsil.com/images/lifetimes/icon-social-connect.png">
                                                                              </a><!-- end ngRepeat: socialLink in controller.state.socialLinks -->
                                                                           </div>
                                                                           <div class="footer-content small-12 columns text-center">
                                                                              <p class="legal"><a href="http://www.bcbsil.com/important-info" target="_blank">IMPORTANT INFORMATION<a/></p>
                                                                              <p class="legal">
                                                                                 A Division of Health Care Service Corporation, a Mutual Legal Reserve Company, an Independent Licensee of the 
                                                                                 <nw>Blue Cross and Blue Shield Association.</nw>
                                                                                 <br>&copy; Copyright <span id="year"></span><script>$('#year').html(new Date().getFullYear())</script> Health Care Service Corporation. All Rights Reserved.
                                                                              </p>
                                                                           </div>
                                                                        </div>
                                                                     </div>
                                                                     <script src="https://lifetimes.bcbsil.com/js/lifetimes/webtrends.js" type="text/javascript"></script> 
                                                                     <!-- ----------------------------------------------------------------------------------- -->
                                                                     <!-- Warning: The two script blocks below must remain inline. Moving them to an external -->
                                                                     <!-- JavaScript include file can cause serious problems with cross-domain tracking.      -->
                                                                     <!-- ----------------------------------------------------------------------------------- -->
                                                                     <script type="text/javascript">
                                                                        //<![CDATA[
                                                                        var _tag=new WebTrends();
                                                                        _tag.dcsGetId();
                                                                        //]]>>
                                                                     </script>
                                                                     <script type="text/javascript">
                                                                        //<![CDATA[
                                                                        // Add custom parameters here.
                                                                        //_tag.DCSext.param_name=param_value;
                                                                        _tag.dcsCollect();
                                                                        //]]>>
                                                                     </script>
                                                                     <noscript>
                                                                        <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="http://wt.hcsc.net/dcs8bjmh310000w454xrshw6g_8l4q/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.5.0"/></div>
                                                                     </noscript>
                                                                     <!-- END OF SmartSource Data Collector TAG -->
                                                                     <script type="text/javascript">
                                                                        function MultiTrackCall(scenarioValue, stepValue, conversionValue, productApply) 
                                                                            {
                                                                                if (typeof (dcsMultiTrack) == "function") 
                                                                                {
                                                                                    document.getElementsByName('WT.si_n').Content = scenarioValue;
                                                                                    document.getElementsByName('WT.si_x').Content = stepValue;
                                                                                    document.getElementsByName('WT.si_cs').Content = conversionValue;
                                                                        
                                                                                    if( typeof(productApply) === "undefined" ) {
                                                                                        dcsMultiTrack("WT.si_n", scenarioValue, "WT.si_x", stepValue, "WT.si_cs", conversionValue);
                                                                                    } else {
                                                                                        dcsMultiTrack("WT.si_n", scenarioValue, "WT.si_x", stepValue, "WT.si_cs", conversionValue, "WT.z_product_apply", productApply, "WT.pn_sku", productApply, "WT.tx_u", "1", "WT.tx_e", "a");
                                                                                    }
                                                                        
                                                                                    //var date = new Date();
                                                                                    //var curDate = null;
                                                                                    //do { curDate = new Date(); }
                                                                                    //while (curDate.getTime() - date.getTime() < 500);
                                                                                }
                                                                            }
                                                                        
                                                                     </script>   
                                                                  </div>
                                                               </div>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="ls-row-clr"></div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="ls-row-clr"></div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="ls-row-clr"></div>
                           </div>
                        </div>
                        <div class="ls-row" id="ls-row-1-col-1-row-2">
                           <div class="ls-fxr" id="ls-gen58817327-ls-fxr">
                              <div class="ls-area" id="ls-row-1-col-1-row-2-area-1">
                                 <div class="ls-area-body" id="ls-gen58817328-ls-area-body">
                                    <div class="ls-cmp-wrap ls-1st" id="w1470442948408">
                                       <div class="iw_component" id="1470442948408">
                                          <h1></h1>
                                          <script src="https://lifetimes.bcbsil.com/js/lifetimes/foundation.js" type="text/javascript"></script>
                                          <script src="https://lifetimes.bcbsil.com/js/lifetimes/lt-custom.js" type="text/javascript"></script>
                                          <script src="https://lifetimes.bcbsil.com/js/lifetimes/webtrends.js" type="text/javascript"></script> 
                                          <script>
                                             $(document).foundation();
                                             
                                          </script>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="ls-row-clr"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="ls-row-clr"></div>
               </div>
            </div>
         </div>
         <!--ls:end[body]-->
      </body>
   </html>